<!DOCTYPE html>
<html>
  <body>
    <form action=document.URL method="POST">
     <input name="give-me-a-name" type="text" />
     <button type="submit">Send This Bad Boy To The Server</button>
    </form>
  </body>
</html>
